body {
    font-family: Arial;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin: 20px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #222;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    border-radius: 10px;
}